/***************************************************************************/
/* GENERAL STYLES */


body {
    padding-bottom: 40px;
    font-size: 14px;
    line-height: 1.5em;
    font-family: "Open Sans";
    background: url('../img/bg.jpg') fixed no-repeat center center;
}

section {
  padding-top: 110px;

}


.clear {
  clear: both;
}




/***************************************************************************/
/* TYPOGRAPHY */


h1, h2, h3, h4, h5, h6 {

  font-weight: bold;
  margin: 0px;

}



h1 {
  font-size: 60px;
  margin-bottom: 20px;
  line-height: 1.3em;
}

h2 {
  font-size: 24px;
  line-height: 36px;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

h6 {
  text-transform: uppercase;
}


p.big {
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.text-right {
  text-align: right;
}











/***************************************************************************/
/* HEADER */

.navbar-inner {
  min-height: 80px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-top: 5px solid green;
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: none;
}

.navbar-fixed-top .navbar-inner {
    border-top: 5px solid green;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    filter: none;
  }

  .navbar {
    margin-bottom: 24px;
  }


.navbar .nav > li > a {
  float: none;
  padding: 20px 0px 0px;
  margin: 0 15px;
  line-height: 40px;
  font-weight: 300;
  color: #999;
  text-decoration: none;
  text-shadow: none;
  cursor: pointer;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar .nav > li > a:hover {
  color: black;
  cursor: pointer;
}

.navbar .logo {
  float: left;
  display: block;
  width: 0px;
  height: 50px;
  padding: 0px;
  margin-top: 15px;
}

.logo-inner {
  width: 200px;
  height: 50px;

  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 30px;
  line-height: 50px;
  color: black;
}

.logo:hover {
  text-decoration: none;
}

.logo-inner:hover {
  text-decoration: none;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  color: black;
  text-decoration: none;
  background-color: transparent;
  border-bottom: 2px solid green;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


#landing {
  position: relative;
  height: 900px;
}

#landing .container {
  position: relative;
}

#landing-inner {
  margin-left: -40%;
  left: 50%;
  top: 50%;
  position: absolute;
  width: 80%;
}


#landing-slogan {
  position: absolute;
  left: 50%;
  width: 850px;
  margin-left: -475px;
  background: url(../img/slogan-bg.png);
  background: rgba(0,0,0,.38);
  padding: 50px 50px 40px 50px;
  top: 200px;
}


#landing-slogan h1 {
    color: white;
    text-align: center;
}





/***************************************************************************/
/* TEAM */

#team h4 {
  margin-top: 15px;
}

#team h5 {
  margin-bottom: 0px;
  line-height: 1.5em;
  font-weight: 300;
}

.profile-pic img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;

}

.profile-pic {
  text-align: center;
}



/***************************************************************************/
/* VISION */
.principle-number {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  border: 2px solid white;
  color: white;
  line-height: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  background: green;
  float: left;
  margin-right: 10px;
}

.principle-row {
  margin-bottom: 20px;
}

#principles p {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  margin-top: 10px;
  margin-bottom: 5px;
}

#principles .row-fluid [class*="span"] {
margin-left: 0;
}


/***************************************************************************/
/* PROJECTS */

.stats p.big {
  margin-bottom: 0;
  text-align: center;
}

.stats h6 {
  text-align: center;
  margin-bottom: 20px;
}

.stats {
  padding: 20px;
  background: white;
}

.project-photo-and-stats {
margin-bottom: 15px;
}



/***************************************************************************/
/* ELEMENTS */


.box {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
}


.box-color {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;

  background-color: #ccc;
}





.big-box {
  padding: 60px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}






/***************************************************************************/
/* FOOTER */

footer {
  padding: 60px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-top: 100px;
}













/***************************************************************************/
/* BLOG */

.meta {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 300;
}

#blog .box {
  padding: 0;
}





/***************************************************************************/
/* RESPONSIVE STYLES */



@media (min-width: 930px) and (max-width: 1200px) {

  #landing-slogan {
  left: 50%;
  width: 680px;
  margin-left: -386px;
  padding: 50px 50px 40px 50px;
  top: 200px;
  }

  #landing-slogan h1 {
  font-size: 50px;
  }
}


@media (min-width: 500px) and (max-width: 930px) {

  #landing-slogan {
  left: 50%;
  width: 500px;
  margin-left: -300px;
  padding: 50px 50px 40px 50px;
  top: 200px;
  }

  #landing-slogan h1 {
  font-size: 35px;
  }

}


@media (min-width: 767px) and (max-width: 930px) {

  #landing-slogan {
  width: 648px;
  margin-left: -366px;
  padding: 40px 40px 20px 40px;
  top: 130px;  }

  #landing-slogan h1 {
  font-size: 45px;
  }

}

@media (min-width: 767px) and (max-width: 979px) {


  h1 {
  font-size: 40px;
  }

  .row-fluid .span3 {
  display: block;
  float: left;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:48.62%;
  }

  .row-fluid .span3-margin-left {
  margin-left: 0px;
  }

  #approach .row-fluid [class*="span"]:first-child {
  margin-left: 0;
  }

  #team .span3 {
  height: 700px;
  }
  

}


@media (min-width: 500px) and (max-width: 767px) {

  h1 {
  font-size: 35px;
  margin-bottom: 5px;
  }

  h3 {
  font-size: 18px;
  }

  p.big {
  font-size: 20px;
  line-height: 30px;
  }

  #landing-slogan {
  left: 50%;
  width: 400px;
  margin-left: -242px;
  padding: 40px 40px 20px 40px;
  top: 100px;
  }

  #landing-slogan h1 {
  font-size: 29px;
  }

  .big-box {
  padding: 20px;
  }

  #principles p {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  }

  
}


@media (max-width: 767px) {

 
  #approach .span3 {
  display: block;
  float: left;
  min-height: 30px;
  margin-left: 2.127659574468085%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:48.62%;
  } 

  #approach .row-fluid [class*="span"]:first-child {
  margin-left: 0;
  }

  #approach .row-fluid .span3-margin-left {
  margin-left: 0px;
  }

  #approach h2 {
  font-size: 15px;
  }

  #approach p {
  font-size: 12px;
  line-height: 1.5;
  }

  .approach-row-fluid-margin {
  margin-top: 15px;
  }
  

}


@media (max-width: 500px) {

  h1 {
  font-size: 25px;
  margin-bottom: 0px;
  }

  body {
  padding-right: 15px;
  padding-left: 15px;
  }

  #landing {
  position: relative;
  height: 300px;
  }


 #landing-slogan {
  left: 50%;
  width: 300px;
  margin-left: -165px;
  padding: 15px 15px 5px 15px;
  top: 100px;
  }

  #landing-slogan h1 {
  font-size: 20px;
  }

  .approach-row-fluid-margin {
  margin-top: 15px;
  }
 
  .big-box {
    padding: 12px;
  }

  #principles p {
  font-size: 15px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  }

  p.big {
  font-size: 15px;
  }

  h3 {
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 23px;
}

}



@media (min-width: 500px) and (max-width: 979px) {



  #landing {
  position: relative;
  height: 550px;
  }
 
}




@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
  /*
  .navbar-fixed-top {
    position: fixed;
    margin-bottom: inherit;
  }*/


  .navbar .nav > li > a {
    padding: 0px 10px;
  }


  .navbar .nav .active > a, .navbar .nav .active > a:hover {
    border-bottom: none;
  }

  .navbar-fixed-top .navbar-inner {
    padding: 0px 20px;
  }

  #contact-inner {
    padding: 40px;
  }


  .navbar-inner {
    padding-left: 20px;
    padding-right: 20px;
  }

}


@media (max-width: 767px) {


  p.big {
    font-weight: inherit;
    line-height: 26px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .navbar .nav > li > a {
    padding: 0px 10px;
    font-size: 12px;
  }

  .navbar .nav.pull-right {
    float: none;
  }




  .navbar-inner {
    min-height: 50px;
  }

  .navbar-fixed-top, .navbar-fixed-bottom {
    margin-right: 0px;
    margin-left: 0px;
  }




  .navbar .nav {
    margin: 0 10px 0 20px;
  }

  .navbar, #landing {
    margin-left: -20px;
    margin-right: -20px;
  }


  

}


@media (min-width: 980px) {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}


@media (max-width: 767px) {
  .profile-pic img {
    max-width: 200px;
  }
}




